{
  "extends": ["plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "strict": 0,
    "no-invalid-this": 0,
    "no-console": "off",
    "object-curly-spacing": [
      "error",
      "always",
      {
        "arraysInObjects": false,
        "objectsInObjects": false
      }
    ]
  }
}
